

@media screen and (max-width:1024px) {
	.header {
		padding: 2vh 3vw 0;
	}

	.header:before, .header:after {
		display: none;
	}

	.logo__main {
		padding: 0;
		max-width: 148px;
		margin-right: 10px;
	}

	.logo__main:after {
		display: none;
	}

	.logo__fifa {
		max-width: 200px;
	}

	.general__title {
		font-size: 7vw;
	}
}

@media screen and (max-width:600px) {
	body {
		background-image: url('../img/bg-mob.jpg');
		display: block;
		position: relative;
	}

	.general {
		margin: 3.5vh 0 0;
	}

	.general__title {
		font-size: 8.5vw;
		letter-spacing: 0;
	}

	.general__button {
		min-width: 283px;
		font-size: 28px;
		margin-top: 3vh;
	}

	.general__button:before,
	.general__button:after {
		width: 45px;
		height: 20px;
	}

	.general__button:before {
		right: -webkit-calc(100% + 9px);
		right: calc(100% + 9px);
	}

	.general__button:after {
		left: -webkit-calc(100% + 9px);
		left: calc(100% + 9px);
	}

	.img-mob {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: -1;
	}

	.footer {
		padding-top: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.footer:before {
		display: none;
	}

	.footer img {
		height: 24px;
		margin: 2px;
	}

	.footer br {
		display: none;
	}
}

@media screen and (max-width:400px) {
	.general {
		padding-bottom: 84%;
	}
}

@media screen and (max-width:380px) {
	.logo__main {
		max-width: 110px;
	}

	.logo__fifa {
		max-width: 170px;
	}

	.general__button:before, .general__button:after {
		display: none;
	}
}
